# VS Code
.vscode/

# Azure Logic App local settings
local.settings.json

# Sensitive deployment parameters
embassy-logic-app/parameters.json
travel-logic-app/parameters.json

# Logs
*.log

# OS files
.DS_Store

# Other
*.bak